body {
  font: 14px Tahoma, sans-serif;
  margin: 40px;
  color: #333;
}

a {
  color: #b94818;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.title {
  margin: 0 0 10px;
  font-size: 18px;
}

.list {
  margin: 0 0 20px 10px;
  padding: 0;
  list-style: none;
}
.list li {
  margin-bottom: 5px;
}

.text-link {
  font-size: 13px;
  color: #999;
}

.back {
  display: block;
  border-bottom: 1px solid #999;
  padding: 0 0 5px;
  margin: 0 0 20px;
}