* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, serif;
  margin: 20px;
}

.calc {
  float: left;
  padding: 10px 8px;
  background: #f4f4f4;
}

.result-field {
  width: 260px;
  margin: 0 2px 4px;
}
.result-field input {
  height: 40px;
  border: 0;
  padding: 0 10px;
  width: 100%;
  text-align: right;
  font-size: 18px;
  background: #fff;
}

table {
  border-collapse: collapse;
}
td {
  padding: 2px;
}

a {
  display: block;
  border: 0;
  padding: 0;
  height: 40px;
  min-width: 40px;
  width: 100%;
  font-size: 16px;
  outline: none;
  background: #dadada;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
a:active {
  background: #bababa;
}